### Paris Olympics 2024 Total Medals Tally

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

d:\Users\hi\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
df=pd.read_csv("ParisOlmypics .csv")

In [5]:
df.head()

   Position              Country  Gold  Silver  Bronze  Total Medals
0         1  United States (USA)    40      44      43           127
1         2          China (CHN)    40      27      24            91
2         3          Japan (JPN)    20      12      13            45
3         4      Australia (AUS)    18      19      16            53
4         5         France (FRA)    16      26      22            64

In [2]:
df.info()

NameError: name 'df' is not defined

In [8]:
df.describe()

        Position       Gold     Silver     Bronze  Total Medals
count  90.000000  90.000000  90.000000  90.000000     90.000000
mean   45.500000   3.644444   3.622222   4.288889     11.555556
std    26.124701   7.017332   6.803135   6.638743     19.843835
min     1.000000   0.000000   0.000000   0.000000      1.000000
25%    23.250000   0.000000   0.000000   1.000000      2.000000
50%    45.500000   1.000000   1.000000   2.000000      5.000000
75%    67.750000   3.000000   3.000000   5.000000      9.000000
max    90.000000  40.000000  44.000000  43.000000    127.000000

In [ ]:
df.isnull()

In [10]:
df.isnull().sum()

Position        0
Country         0
Gold            0
Silver          0
Bronze          0
Total Medals    0
dtype: int64

### medal distribution by cuntry

In [ ]:
df_cleaned = df.dropna()  # Example of cleaning a DataFrame by dropping missing values

medal_distribution = df_cleaned.groupby('Country')['Total Medals'].sum().sort_values(ascending=False)
display(medal_distribution)

In [17]:
medal_distribution.head()

Country
United States (USA)     127
China (CHN)              91
United Kingdom (GBR)     65
France (FRA)             64
Australia (AUS)          53
Name: Total Medals, dtype: int64

In [3]:
correlation = df_cleaned[['Gold', 'Silver', 'Bronze']].corr()
print("\nCorrelation Between Medal Types:")
display(correlation)

NameError: name 'df_cleaned' is not defined